<%- include(head) %>

    <div class="container my-3">
        <hr>
        <h1>
            <%= questions.title %>
        </h1>
        <p>
            <%= questions.description %>
        </p>
        <hr>

        <h3>Respostas</h3>

        <div class="container d-flex flex-column gap-3">
            <% answers.forEach(answer=> { %>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="m-0">
                            <%= answer.text %>
                        </p>
                    </div>
                </div>
                <% }) %>
        </div>

        <hr>

        <form action="/answer" method="POST">
            <div class="form-group">
                <label for="answer">Resposta</label>
                <textarea class="form-control" name="text" id="text" rows="3" required autocomplete="none"
                    placeholder="Informe aqui a sua resposta"></textarea>
                <input type="text" name="questionId" value="<%= questions.id %>" hidden>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>

    </div>

    <%- include(footer) %>